<h3>Sign Up</h3>

<% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |m| %>
        <p class='danger'><%= m %></p>
    <% end %>
<% end %>

<form action='/signup' method='POST'>
    <input type='text' placeholder='Name' name='name'>
    <input type='text' placeholder='Username' name='username'>
    <input type='password' placeholder='Password' name='password'>
    <input type='password' placeholder='Confirm Password' name='password_confirmation'>
    <input type='submit' value='Sign Up'>
</form>
<br>
