
html {
  background-color: white;
  font-family: sans-serif;
}
body {
    text-align: center;
  }

h1 {
    color: green;
    text-align: center;
}

ul {
  text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  height: 5em;
  background-color: green;
  padding-right: 20px;
  font-size: .90em;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar-logo {
  height: 5em;
  width: 5em;
  padding-right: 10px;
}

.navbar-button {
  text-decoration: none;
  border: none;
  background-color: green;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
}

.navbar-button:hover {
  color: black;
  cursor: pointer; 
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  color: black;
}

.submit-button:hover {
  color: green;
  cursor: pointer;
}

.edit-form {
  
}