<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <title>myGarden Tracker</title>
</head>
<body>
    <header>
        <a href="/dashboard"><h1>myGarden Tracker</h1></a>
        <nav>
            <%= render_navbar %>
        </nav>
    </header>
    
    

    <%= yield %>
</body>
</html>