<div class="navbar">
    <a class="navbar-button" href="/dashboard"><img class="navbar-logo" src="plant-in-hand.png"></a>
    <a class="navbar-button" href="/login">Login</a>
    <a class="navbar-button" href="/signup">Signup</a>
</div>