
<div class="navbar">
    <a href='/dashboard'>Dashboard</a>
    <a href='/plants/new'>Add New Plant</a>
    <a href='/plants'>View Plants</a>
    <a href='/plants/edit'>Edit a Plant</a>
    <a href='/users/<%=@user.id%>/edit'>Edit Profile</a>
    <a href='/plants/<%=@user.id%>'>Delete a Plant</a>
    <form action="/logout" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
    </form>
</div>